@import "../../styles/_variables.scss";



.dropdown {
  cursor: pointer;
  position: relative;
}
.titleWrapper{
  padding: 8px 8px 8px 16px;
  border: 1px solid $lightgrey;
  border-radius: 12px;
  max-height: 36px;
}

.title {
  width: auto;
  display: flex;
  gap: 8px;
  background: $white;
  justify-content: space-between;
}

.text {
  align-self: center;
  white-space: nowrap;
}

.arrowUP {
  rotate: 180deg;
}

.img {
  align-self: center;
  width: 16px;
  height: 16px;
}

.list {
  position: absolute;
  margin-top: 12px;
  border: 1px solid $lightgrey;
  border-radius: 12px;
  padding: 12px;
  background: $white;
}

.item {
  padding: 8px 0;
  border-bottom: 1px solid $lightgrey;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
  min-width: 55px;
}

.item:first-child {
  padding-top: 0;
}

.item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.hidden {
  visibility: hidden;
}